[submodule "external/magic_enum"]
	path = external/magic_enum
	url = git@github.com:Neargye/magic_enum.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
